extends ../includes/head.jade
block append content
  include ../includes/header-poste.jade
        .row
          h1.text-center Analyste Crédit
          p
            | Au sein d’une start-up proposant des services financiers innovants à destination
            |  d’une clientèle de TPE et PME par l’intermédiaire du financement de leurs factures
            |  en attente de paiement, l’Analyste Crédit a pour vocation à (i) participer à
            |  l’élaboration, au suivi et à l’approbation des dossiers de rachat de factures,
            |  (ii) assurer la gestion des factures post-acquisition et notamment le recouvrement et,
            |  (iii) participer à l’amélioration des processus d’ analyse crédit. Son rôle est
            |  d’intégrer l’équipe d’analyse crédit avec comme objectif d’accompagner la prise de
            |  décision en opérant une analyse-crédit et des contrôles anti-fraude. Il implique un
            |  candidat qui conjugue la rigueur de l’analyse et le plaisir du contact avec une
            |  clientèle de petites et moyennes entreprises. 
          p
            | L’Analyste Crédit devra mettre en place tous les moyens nécessaires afin que l’équipe
            |  d’analyse crédit assure la réalisation de ses objectifs de maîtrise des risques : fraude,
            |  perte, délais de paiement, contestation, non-paiement,…
          p
            | De manière générale, le candidat devra montrer sa capacité à intégrer une équipe et à
            |  proposer des axes d’amélioration. 

        .row
          h2 Expérience
          p
            | De formation supérieure en Finance/ Gestion, le candidat disposera d’une première
            |  expérience d’analyse crédit au sein d’une société d’affacturage, d’une banque, d’un
            |  établissement financier ou d’un assureur-crédit. Il disposera donc de facultés d’analyse
            |  financière des entreprises mais également des créances commerciales. Une connaissance
            |  des outils informatiques et une indépendance de jugement sont essentielles.

        .row
          h2 Missions
          p Les tâches de l'Analyste Crédit incluent notamment :
          ul
            li
              p Validation des dossiers : analyser avec une forte autonomie les demandes de financement soumises par les sociétés et leurs factures afin de valider ou refuser les dossiers
            li
              p Opérer les contrôles anti-fraude et faire preuve de jugement dans l’appréciation des entreprises et de leurs dirigeants
            li
              p Participation au Comité de Crédit de Finexkap
            li
              p Suivi du recouvrement des factures acquises 
            li
              p Amélioration des procédures d’analyse crédit, des procédures anti-fraude, et de l’outil d’analyse (back-office/ ERP)
            li
              p Veille sur les meilleures pratiques de l’analyse crédit (risque sectoriel spécifique, optimisation des processus,….)


        .row
          h2 Compétences
          p Le / la candidat(e) idéal(e) devra démontrer :
          ul
            li
              p Une grande capacité de rigueur et de traitement des dossiers
            li
              p Une bonne compréhension de l’environnement des TPE et PME et une indépendance de jugement
            li
              p Une capacité à prendre du recul, à organiser et développer une réflexion stratégique autour de sa mission afin de pouvoir la perfectionner
            li
              p Un esprit entrepreneurial et une capacité évidente à diriger
            li
              p Une grande faculté d’adaptation et le sens du travail en équipe
            li
              p De grandes compétences interpersonnelles et d’adaptation à tout type d’interlocuteur
            li
              p De bonnes connaissances en gestion de risques liés au financement d’entreprises et en analyse financière
            li
              p Anglais courant indispensable.

        .row
          h2 Rémunération
          p 40K€ brut par an
        .row
          h2 Disponibilité
          p Septembre 2014
        .row.text-center
          p
            a.btn.btn-lg.btn-success(href='mailto:contact@finexkap.com')
              | Postuler maintenant 
              span.glyphicon.glyphicon-ok


