extends ../includes/head.jade
block append content
  include ../includes/header-poste.jade
        .row
          h1.text-center Data Scientist
          p
            | La mission principale du Data Scientist est d’assurer la conception, le développement
            |  et l’amélioration continue de nouveaux algorithmes prédictifs alliant Big Data, Machine
            |  Learning et les derniers enseignements de la recherche académique.
            | Le(la) Data Scientist doit être en mesure de comprendre la problématique métier et
            |  les enjeux/ objectifs de l’analyse crédit de Finexkap. Cette compréhension implique de
            |  trouver les sources de données pertinentes afin de les transcrire en problématiques
            |  « business », de faire des recommandations sur les bases de données qu’il conviendra de
            |  modifier, de rapatrier, d’internaliser ou d’externaliser en fonction de leur qualité et de leur richesse.
        .row
          h2 Expérience
          p
            | Candidat jeune, dynamique possédant une bonne connaissance des problématiques de Big Data
            |  et des algorithmes dans un cadre professionnel. Une première expérience au sein d’une 
            | start-up ainsi qu’une familiarisation avec le monde de la finance seraient des avantages 
            | mais ne sont pas nécessaires.
          p 
            | La priorité sera donnée aux candidat(e)s issus d’une formation supérieure (diplôme
            |  d’ingénieur ou doctorat) ayant plus de deux années d’expériences dans la conception
            |  d’algorithmes : Grandes écoles d’ingénieurs (Polytechnique, Telecom, Mines, Centrale,
            |  ENS ou équivalent) ; Diplôme(s) en Econométrie, Statistiques ou Mathématiques appliquées.

        .row
          h2 Missions
          p Les tâches du Data Scientist incluent notamment :
          ul
            li 
              p prédictions et modélisations de risques (défaillance d’entreprises, impayé sur facture, fraude...) ;
            li 
              p utilisation du Big Data et de la recherche académique pour le développement et l’amélioration d’algorithmes de Credit Scoring ;
            li 
              p le recueil, le traitement et l’analyse des données récoltées par Finexkap ;
            li 
              p la conception de nouveaux traitements statistiques permettant une automatisation des processus d’analyse ;
            li 
              p la veille technologique et la publication d’articles sur les réseaux de Finexkap ;
            li 
              p la collaboration avec l'équipe de développement technique pour mise en place de l'infrastructure de collecte et de traitement de données du site internet.
        .row
          h2 Compétences
          p Le / la candidat(e) idéal(e) devra démontrer :
          ul 
            li
              p Connaissances des algorithmes classiques de machine learning ; 
            li
              p Maitrise des théories statistiques et mathématiques ; 
            li
              p Maitrise des langages orientés objet tels que Python, R, Scala, Java, … ;
            li
              p Profil curieux, autonome, et attiré par l’innovation et la nouveauté ;
            li
              p Prise d’initiatives ;
            li
              p Rigoureux et organisé ;
            li
              p Bonne écoute, capacité naturelle à s’intégrer rapidement.
        .row
          h2 Rémunération
          p Entre 60 et 80K selon profil
        .row.text-center
          p
            a.btn.btn-lg.btn-success(href='mailto:contact@finexkap.com')
              | Postuler maintenant 
              span.glyphicon.glyphicon-ok


