extends ../includes/head.jade
block append content
  include ../includes/header-poste.jade
        .row  
            h1.text-center Développeurs Séniors
            p
              | Intégrés au sein de l’équipe de développement (3 personnes actuellement, 7 personnes d’ici octobre)
              |  les candidats participeront au développement des applications web en front­office et en back­office.

            p
              | Les candidats devront maitriser les bonnes pratiques tant sur la partie technique (TDD,
              |  refactoring, etc.) que sur la partie méthodes de travail (développement agile,
              |  intégration continue, revue de code).
        .row
          h2 Expérience
          p
            | La priorité sera donnée aux candidats justifiant d’une forte expérience en développement
            |  Ruby. Un savoir-faire complémentaire dans le domaine de la gestion Big Data / Composantes
            |  Données complexes et une expérience des méthodes de gestion d’équipe seront fortement appréciés. 
          p
            | Sur les trois recrues, un candidat devra avoir géré des projets de développement sur les
            |  aspects métier de FINEXKAP au sein d’une société d’affacturage ou dans un poste l’ayant
            |  exposé aux problématiques métier du back-office d’affacturage.
        .row
          h2 Poste
          ul
            li
              p Développement d’interfaces web ;
            li
              p Construction et maintenance du modèle de données de l’entreprise ;
            li
              p Intégration de web services ; 
            li
              p Développement d’API REST ;
            li
              p Développement de modèles en back office.
        .row
          h2 Environnement technique
          ul
            li
              p <b>Langage Utilisés</b> : Ruby 2.1, Javascript, CoffeeScript, HAML/SCSS ;
            li
              p <b>BDD</b> : PostgreSQL ;
            li
              p <b>Back</b> : Rails 4.1 ;
            li
              p <b>Front</b> : Angular 1.3-beta13 ;
            li
              p <b>Test</b> : Rspec, Capybara, Poltergeist, Jasmine, Teaspoon ;
            li
              p <b>Hébergement</b> : Git ;
            li
              p <b>Déploiement</b> : Capistrano ;
            li
              p <b>Environnement</b> : Linux, Passenger, Nginx.

        .row
          h2 Compétences
          p Le / la candidat(e) idéal(e) devra démontrer :
          ul 
            li
              p Maitrise de l’environnement technique ;
            li
              p Anglais technique ; 
            li
              p Profil curieux et autonome ;
            li
              p Bonne écoute, capacité naturelle à s’intégrer rapidement.
          p Par ailleurs, ce poste demande d'avoir :
          ul
            li
              p Connaissances en économie / économétrie ; 
            li
              p Forts intérêts statistiques et mathématiques ; 
            li
              p Profil attiré par l’innovation et la nouveauté ;
            li
              p Esprit entreprenariat ;
            li
              p Rapide et vif ; 
            li
              p Expérience dans le domaine Data.


        .row
          h2 Rémunération
          p Entre 60 et 80K selon profil
        .row.text-center
          p
            a.btn.btn-lg.btn-success(href='mailto:contact@finexkap.com')
              | Postuler maintenant 
              span.glyphicon.glyphicon-ok


