extends ../includes/head.jade
block append content
  include ../includes/header-poste.jade
        .row
          h1.text-center Directeur Commercial
          p
            | La mission principale du Directeur Commercial est et de créer et d’animer un réseau
            |  d’intermédiaires susceptibles de promouvoir Finexkap auprès de leurs clients : courtiers
            |  en financement/ assurance-crédit, experts-comptables, consultants en BFR, éditeurs de
            |  logiciels de comptabilité, plates-formes de facturation électroniques etc… En charge de
            |  l’animation commerciale ‘off-line’, il met en place tous les moyens nécessaires afin que
            |  l’équipe assure la réalisation de ses objectifs de vente.
          p
            | Au sein d’une start-up proposant des services financiers innovants à destination d’une
            |  clientèle-cible de PME – PMI, le Directeur Commercial doit être un créateur et animateur
            |  de réseau d’affaires dans un environnement exclusivement B-to-B. A ce titre, son rôle
            |  est de (i) définir la stratégie commerciale auprès des intermédiaires et (ii) d’en assurer
            |  le pilotage opérationnel (suivi des objectifs, négociation des contrats, animation du réseau,
            |  identification de nouveaux partenaires etc..). 
        .row
          h2 Expérience
          p
            | Le candidat idéal disposera d’une première expérience de vente au sein d’une organisation
            |  B-to-B combinant IT et compréhension du monde financier/ gestion du poste client :
            |  assureur-crédit site web, éditeur de software, fournisseur de base de données B-to-B,
            |  société d’affacturage…
          p 
            | Candidat dynamique possédant un excellent réseau d’apporteurs d’affaires et d’intermédiaires,
            |  la compréhension des enjeux du poste client des PME - PMI et la maîtrise de la vente indirecte
            |  dans un environnement B-to-B.

        .row
          h2 Missions
          p Les tâches du Directeur Commercial incluent notamment :
          ul
            li
              p la définition de la stratégie commerciale, des objectifs et du marché pertinent des intermédiaires : clients-cibles, outils de prospection commerciale et rédaction des documents…
            li
              p signature de contrats d’apporteurs d’affaires avec les membres de ce réseau constitué exclusivement de professionnels de l’écosystème PME-PMI,
            li
              p la familiarisation du réseau à l’outil Finexkap et l’évangélisation du marché via forums, conférences etc… 
            li
              p la mise en place d’outils de développement commercial et reporting (CRM),
            li
              p à terme, le développement  du cross-selling et le contrôle du taux de rétention. 

        .row
          h2 Compétences
          p Le / la candidat(e) idéal(e) devra démontrer :
          ul
            li
              p une énergie commerciale agressive, et une persévérance naturelles,
            li
              p une capacité à organiser et développer une réflexion stratégique,
            li
              p un esprit entrepreneurial, indépendant et très opérationnel,
            li
              p de grandes compétences interpersonnelles et d’adaptation à tout type d’interlocuteur,
            li
              p anglais courant indispensable.

        .row
          h2 Rémunération
          p Compétitif en fonction du profil. Package salaire fixe + bonus sur objectifs + participation au capital.
        .row
          h2 Disponibilité
          p Septembre 2014  
        .row.text-center
          p
            a.btn.btn-lg.btn-success(href='mailto:contact@finexkap.com')
              | Postuler maintenant 
              span.glyphicon.glyphicon-ok


