extends ../includes/head.jade
block append content
  include ../includes/header-poste.jade
        .row
          h1.text-center Directeur Marketing
          p
            | La mission principale du Directeur Marketing est de mettre en place tous les moyens
            |  online nécessaires afin que l’équipe assure la réalisation de ses objectifs de vente
            |  B2B (prospects, clients, demandes de financement de trésorerie…) et de notoriété . 
          p
            | Le Directeur Marketing doit définir la stratégie marketing en amont (Marketing mix) et
            |  en assurer le pilotage opérationnel ainsi qu’assurer la communication de l’entreprise
            |  auprès des tiers. De par son modèle innovant, la stratégie Marketing est essentiellement
            |  déployée sur le web et ce poste inclut donc une forte composante technologique.
            |  Le développement d’outils on-line permettant la prospection et la conversion d’une
            |  clientèle B2B (chefs d’entreprise, directeurs financiers, credit managers, trésoriers)
            |  est clé pour la maîtrise du coût d’acquisition. Nous sommes à la recherche
            |  d’un(e) Directeur(rice) Marketing maîtrisant aussi bien la prospection classique d’une
            |  clientèle B2B que les méthodes d’acquisition web (algorithmes de recherche, règles de
            |  redirection…). 
        .row
          h2 Expérience
          p
            | Le candidat idéal disposera d’une première expérience d’acquisition de clients au
            |  sein d’une organisation B2B combinant IT et compréhension du monde financier (site web,
            |  conseil, éditeur de software, fournisseur de base de données B2B…).
          p 
            | Candidat jeune, dynamique possédant une bonne connaissance de l’écosystème web - marketing
            |  et des technologies d’acquisition de clients grâce à une expérience minimum de 2 à 3 ans
            |  au sein d’un poste similaire. Une première expérience au sein d’une start-up ainsi qu’une
            |  familiarisation avec le monde de la finance seraient des avantages décisifs. 

        .row
          h2 Missions
          p Les tâches du Directeur Marketing incluent notamment :
          h4 1.  Stratégie Marketing pour une cible B2B :
          ul
            li
              p étude de marché et analyse de la concurrence ;
            li
              p définition des objectifs commerciaux en accord avec le Comité Exécutif et en coordination avec le Directeur Commercial, des budgets associés et des canaux d’acquisition ;
            li
              p communication et campagnes de publicité : production de contenu, relations avec la presse, pilotage des partenaires externes éventuels…
            li
              p mise en place d’un CRM et de processus de suivi des prospects et clients.

          h4 2.  Acquisition on-line :
          ul  
            li
              p maîtrise des principaux leviers d’acquisition (paid/ owned/ earned) et forte appétence pour l’anlytics ;
            li
              p optimisation du SEO ;
            li
              p paramétrage et optimisation continue des campagnes Adwords ;
        .row
          h2 Compétences
          p Le / la candidat(e) idéal(e) devra démontrer :
          ul 
            li
              p une capacité à organiser et développer une réflexion stratégique avant son implémentation opérationnelle ;
            li
              p une exigence absolue en termes de qualité de travail et de contenu rédactionnel ou de présentation ;
            li
              p une forte maturité et autonomie professionnelle ;
            li
              p de grandes compétences interpersonnelles et d’adaptation à tout type d’interlocuteur ;
            li
              p anglais courant indispensable.
        .row
          h2 Rémunération
          p Package salaire + options compétitif en fonction du profil. 
        .row
          h2 Disponibilité
          p Octobre 2014  
        .row.text-center
          p
            a.btn.btn-lg.btn-success(href='mailto:contact@finexkap.com')
              | Postuler maintenant 
              span.glyphicon.glyphicon-ok


